{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <section id="title-block">
        <div class="block-description text-lg-center text-md-center text-sm-center mx-auto">
            <h1>Здравствуйте {{ user.name }}</h1>
        </div>
        <div class="mb-2">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active text-bg-dark" aria-current="page" href="#">Мои Подписки и Баланс</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bg-light" href="{{ path('transactions') }}">Мои Транзакции</a>
                </li>
            </ul>
        </div>
    </section>
    <section id="main-block">
        {{ include('personal-account/_balance.html.twig', {balance: user.balance}) }}
        <div class="block-description another-blocks-description container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3>Мои услуги</h3>
                </div>
                <div class="col-lg-6 col-md-6 d-grid ">
                    <button class="btn btn-outline-dark add-service" type="button">Добавить услугу</button>
                </div>
            </div>

        </div>
        <div class="block-description another-blocks-description container-fluid">
            {% if user.userservices|length > 0 %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Количество услуг</th>
                    <th scope="col">Цена единицы</th>
                    <th scope="col" colspan="2">Итого за месяц</th>
                </tr>
                </thead>
                <tbody>
                {% for service in user.userservices %}
                <tr>
                    <td scope="row">{{ service.name }}</td>
                    <td>{{ service.amount }}</td>
                    <td>{{ service.price }}</td>
                    <td class="total-price-multiply-amount">{{ service.price * service.amount }}</td>
                    <td class="delete-service"><a href="{{ path('deleteservice',{id: service.id}) }}"><i class="fa-solid fa-rectangle-xmark fa-2xl"></i></a></td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row" colspan="3">Итого за все услуги:</th>
                    <td class="total-for-all-services">0</td>
                </tr>
                </tbody>
            </table>
            {% else %}
                <p class="text-center">У вас пока нет добавленных сервисов</p>
            {% endif %}
        </div>
    </section>
{% endblock %}