{% extends 'base.html.twig' %}

{% block body %}
    <section id="title-block">
        <div class="block-description text-lg-center text-md-center text-sm-center mx-auto">
            <h1>Здравствуйте {{ user.name }}</h1>
        </div>
        <div class="mb-2">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link text-bg-light" href="{{ path('services') }}">Мои Подписки и Баланс</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-bg-dark " aria-current="page" href="#">Мои Транзакции</a>
                </li>
            </ul>
        </div>
    </section>
    <section id="main-block">
        {{ include('personal-account/_balance.html.twig', {balance: user.balance}) }}
        <div class="block-description another-blocks-description container-fluid">
            <div>
                <h3 class="text-center">История Транзакций</h3>
            </div>
            <div class="text-center">
                <form method="post">
                    <label for="start-calendar" class="form-label mt-2">От какого числа:</label>
                    <input type="date" name="begin" placeholder="dd-mm-yyyy" id="start-calendar" value="" min="1997-01-01" max="2030-12-31">
                    <label for="end-calendar" class="form-label mt-2">До какого числа :</label>
                    <input id="end-calendar" type="date" name="finish" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
                    <br>
                    <label for="category-name" class="form-label mt-2">Название категории :</label>
                    <select class="form-select mb-3 mt-2" aria-label="Default select example" name="service-name">
                        <option selected></option>
                        <option value="вывоз мусора">вывоз мусора</option>
                        <option value="электричество">электричество</option>
                        <option value="лифт">лифт</option>
                    </select>
                    <button class="btn btn-outline-dark w-50 mt-3 mb-3" type="submit">Сортировать</button>
                </form>
            </div>
            <div>
                {% if transactions|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" class="col-lg-3 col-md-3 col-sm-3">Название услуги</th>
                        <th scope="col" class="col-lg-3 col-md-3 col-sm-3">Дата списания </th>
                        <th scope="col" class="col-lg-3 col-md-3 col-sm-3">Количество списанных средств</th>
                        <th scope="col" class="col-lg-2 col-md-2 col-sm-2">Остаток после </th>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td scope="row">{{ transaction.servicename }}</td>
                        <td>{{ transaction.date|date("m/d/y") }}</td>
                        <td>{{ transaction.totalprice }}</td>
                        <td>{{ transaction.accountbalance }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="text-center">У вас пока нет добавленных транзакций</p>
                {% endif %}
                <div class="d-grid gap-2">
                    <a href="{{ path('settlementday') }}" class="btn btn-outline-dark">Имитировать Расчетный День</a>
                    <button class="btn btn-outline-dark add-form-to-add-money" type="button">Пополнить Баланс</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}